h1 {
    color: #242f4f;
    margin-bottom: 10px;
}

#main-nav {
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
}

#main-nav li {
    display: inline-block;
}

.nav a {
    background-color: #13a4a4;
    color : white;
    text-decoration: none;
    padding:5px;
    border-radius: 2px;
}

a.featured {
    background-color: orange;
}

#page-title {
    font-family: sans-serif;
}

.title {
    font-family: monospace;
}
